@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Bitter:700");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 100%; }

input,
textarea {
  display: block; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 750;
  width: 100%;
  background-color: transparent;
  padding: 1rem 0; }
  .header__icon-menu-container {
    display: flex;
    justify-content: flex-end; }
  .header__icon-menu {
    position: relative;
    z-index: 800;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    fill: #ff6081;
    filter: drop-shadow(1px 1px 4px rgba(68, 68, 68, 0.3)); }
    @media screen and (min-width: 64em) {
      .header__icon-menu {
        display: none; } }
  .header__icon-menu-bar {
    fill: #ffffff; }

.large__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 37.5em) and (max-width: 63.9em) {
    .large__container {
      width: 85%; } }

@media screen and (max-width: 63.9em) {
  .main-nav {
    background-color: #ff6081;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: .5;
    transition: all 200ms ease-in; }
    .main-nav.active {
      right: 0;
      opacity: .98; } }

.main-nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none; }
  @media screen and (max-width: 63.9em) {
    .main-nav__list {
      flex-basis: 80%;
      text-align: center; } }
  @media screen and (min-width: 64em) {
    .main-nav__list {
      text-align: center; } }

@media screen and (min-width: 64em) {
  .main-nav__list-item {
    display: inline-block;
    margin-left: 2.5rem;
    margin-right: 2.5rem; } }

.main-nav__link {
  text-decoration: none; }
  @media screen and (max-width: 63.9em) {
    .main-nav__link {
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      line-height: 4;
      font-size: 1.25rem;
      font-weight: 400;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.9); } }
  @media screen and (min-width: 64em) {
    .main-nav__link {
      position: relative;
      font-weight: 300;
      font-size: .9rem;
      text-transform: uppercase;
      line-height: 3rem;
      letter-spacing: 2px;
      color: #fff; }
      .main-nav__link::before {
        content: "";
        display: block;
        height: 1px;
        width: 0;
        background-color: #fff;
        position: absolute;
        bottom: -.5rem;
        transition: all 200ms ease-in; }
      .main-nav__link:hover::before {
        width: 100%; } }

.section-header__header {
  text-align: center; }
  @media screen and (min-width: 48em) {
    .section-header__header {
      width: 85%;
      margin-left: auto;
      margin-right: auto; } }

.section-header__title {
  position: relative;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
  color: #2b2b2b; }
  .section-header__title::before {
    content: "";
    display: block;
    position: absolute;
    top: 2.7rem;
    left: calc(calc(100% - 5rem) / 2);
    height: 3px;
    width: 5rem;
    background-color: #fe4365; }

.section-header__text {
  color: #2b2b2b;
  font-weight: 300;
  line-height: 1.85; }

.buttons__style {
  display: inline-block;
  width: 15rem;
  padding: 0 2.5rem;
  border-radius: 5px;
  border-bottom: 0.23rem solid #da0129;
  line-height: 2.5;
  text-decoration: none;
  color: #ffffff;
  background-color: #fe4365;
  transition: all 250ms ease-in; }
  .buttons__style:hover {
    background-color: #fe1a44; }
  .buttons__style:active {
    transform: scale(0.9); }

.landing {
  height: 100vh;
  padding: 3rem 0;
  background: linear-gradient(-45deg, #fe6676, #fe4365); }
  .landing__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .landing__content {
    text-align: center; }
  .landing__logo {
    width: 12rem;
    fill: #ffffff; }
    @media screen and (min-width: 37.5em) {
      .landing__logo {
        width: 13.5rem; } }
  .landing__title-container {
    margin-top: 3rem;
    border-top: 1.5px dashed rgba(255, 255, 255, 0.35);
    border-bottom: 1.5px dashed rgba(255, 255, 255, 0.35); }
  .landing__title {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: rgba(255, 255, 255, 0.35);
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.3; }
    @media screen and (min-width: 30em) {
      .landing__title {
        font-size: 1.7rem; } }

.about {
  padding: 3rem 0; }
  @media screen and (min-width: 64em) {
    .about {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  @media screen and (min-width: 48em) {
    .about__blocks-container {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 64em) {
    .about__blocks-container {
      display: flex;
      justify-content: space-between; } }
  @media screen and (min-width: 64em) {
    .about__left-container, .about__right-container {
      width: 49%; } }
  .about__image-container {
    position: relative;
    width: 180px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 30em) {
      .about__image-container {
        width: 200px; } }
    @media screen and (min-width: 37.5em) {
      .about__image-container {
        width: 220px; } }
    @media screen and (min-width: 48em) {
      .about__image-container {
        width: 240px; } }
    @media screen and (min-width: 64em) {
      .about__image-container {
        width: 250px;
        margin-top: 3rem; } }
  .about__photo, .about__color-bg {
    border-radius: 3px; }
  .about__photo-container {
    width: 10rem;
    position: absolute;
    left: 0;
    top: .5rem;
    z-index: 300;
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 30em) {
      .about__photo-container {
        width: 11rem; } }
    @media screen and (min-width: 37.5em) {
      .about__photo-container {
        width: 12.5rem; } }
    @media screen and (min-width: 48em) {
      .about__photo-container {
        width: 13.5rem; } }
    @media screen and (min-width: 64em) {
      .about__photo-container {
        width: 14.5rem; } }
  .about__color-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 10rem;
    height: 16.5rem;
    background-color: rgba(204, 204, 204, 0.3); }
    @media screen and (min-width: 30em) {
      .about__color-bg {
        width: 11rem;
        height: 17.8rem; } }
    @media screen and (min-width: 37.5em) {
      .about__color-bg {
        width: 12.5rem;
        height: 20rem; } }
    @media screen and (min-width: 48em) {
      .about__color-bg {
        width: 13.5rem;
        height: 21.5rem; } }
    @media screen and (min-width: 64em) {
      .about__color-bg {
        width: 14.5rem;
        height: 23rem; } }
  @media screen and (min-width: 20em) {
    .about__right-container {
      padding-top: 19rem; } }
  @media screen and (min-width: 30em) {
    .about__right-container {
      padding-top: 20rem; } }
  @media screen and (min-width: 37.5em) {
    .about__right-container {
      padding-top: 23rem; } }
  @media screen and (min-width: 64em) {
    .about__right-container {
      padding-top: 0; } }
  .about__profile-container, .about__blog {
    margin-bottom: 5rem; }
  .about__button-container {
    text-align: center; }
    @media screen and (min-width: 64em) {
      .about__button-container {
        margin-top: 2rem; } }

.latest-posts {
  padding: 3rem 0;
  background-color: #f9f9f9; }
  @media screen and (min-width: 64em) {
    .latest-posts {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  .latest-posts__container {
    margin-top: 5rem; }
    @media screen and (min-width: 64em) {
      .latest-posts__container {
        display: flex;
        justify-content: space-between; } }
  .latest-posts__button-container {
    text-align: center; }

.post__item {
  box-shadow: -0.5px -0.5px 8px rgba(204, 204, 204, 0.4);
  margin-bottom: 2.5rem;
  padding: 2rem 1rem;
  background-color: #fff; }

@media screen and (min-width: 64em) {
  .post__item--latest {
    width: 31%; } }

.post__item-title {
  font-family: "Bitter", serif; }

.post__item-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ffbdd8; }

.blog {
  padding: 4rem 0 3rem;
  background-color: #f9f9f9; }
  .blog__search-container {
    margin: 3rem 0; }
  .blog__input {
    padding-left: 1rem;
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 5px;
    font-size: .85rem;
    line-height: 2.5;
    box-shadow: -0.5px -0.5px 8px rgba(204, 204, 204, 0.4);
    color: rgba(68, 68, 68, 0.4); }
    .blog__input::placeholder {
      color: rgba(68, 68, 68, 0.4); }
    .blog__input:focus {
      outline: none; }
  .blog__pagination {
    margin: 5rem 0 2rem;
    text-align: center; }
  .blog__pagination-back, .blog__pagination-next {
    display: inline-block;
    width: 12rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ff6081;
    border-radius: 5px;
    line-height: 3;
    text-align: center;
    text-decoration: none;
    transition: all 200ms ease-in; }
  .blog__pagination-back {
    color: #ff6081; }
    @media screen and (min-width: 30em) {
      .blog__pagination-back {
        margin-right: 2.5rem; } }
  .blog__pagination-next {
    color: #fff;
    background-color: #ff6081; }
    .blog__pagination-next:hover {
      background-color: #fe4365;
      border-color: #fe4365; }
  .blog__sidebar {
    padding-bottom: 5rem; }
  .blog__sidebar-container {
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: -0.5px -0.5px 8px rgba(204, 204, 204, 0.4);
    background-color: #fff; }
  .blog__sidebar-title {
    font-weight: 400;
    color: #2b2b2b; }
  .blog__sidebar-subtitle {
    color: #2b2b2b;
    font-weight: 300; }
  .blog__sidebar-list {
    margin-top: 2rem;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
  .blog__sidebar-link {
    display: inline-block;
    font-size: .9;
    font-weight: 600;
    line-height: 3;
    text-decoration: none;
    color: #2b2b2b; }
    .blog__sidebar-link:hover {
      color: #ff6081; }

.profile {
  padding: 4rem 0 3rem;
  background-color: #f9f9f9; }
  .profile__text-link {
    text-decoration: none;
    color: #fe4365; }
    .profile__text-link:hover {
      text-decoration: underline; }
  .profile__photo-content {
    margin: 4rem auto;
    padding: 0;
    width: 70%; }
    @media screen and (min-width: 37.5em) {
      .profile__photo-content {
        width: 60%; } }
    @media screen and (min-width: 48em) {
      .profile__photo-content {
        width: 45%; } }
  .profile__header {
    margin-bottom: 2.5rem;
    text-align: center; }
  .profile__header-text, .profile__text {
    text-align: center; }
  .profile__header-text, .profile__header-title, .profile__text, .profile__list-item, .profile__job-text-title, .profile__job-text, .profile__legend-title {
    color: #2b2b2b;
    line-height: 1.8; }
  .profile__header-text, .profile__text, .profile__job-text, .profile__list-item, .profile__job-text-title {
    font-weight: 300; }
  .profile__header-title {
    font-family: "Bitter", serif;
    font-size: 1.3rem;
    text-align: center;
    color: #2b2b2b; }
  .profile__list {
    list-style: none;
    margin-bottom: 2rem; }
  .profile__list-item {
    line-height: 3;
    font-weight: 400;
    position: relative; }
    .profile__list-item::before {
      content: "";
      display: block;
      position: absolute;
      left: -1rem;
      top: 1.4rem;
      width: .29rem;
      height: .29rem;
      border-radius: 50%;
      background-color: #2b2b2b; }
  @media screen and (min-width: 30em) {
    .profile__text {
      margin-bottom: 5rem; } }
  .profile__job-content {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 5rem; }
    .profile__job-content::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: .2rem;
      height: 20.5rem;
      background-color: #2b2b2b; }
      @media screen and (min-width: 30em) {
        .profile__job-content::before {
          height: 17rem; } }
      @media screen and (min-width: 37.5em) {
        .profile__job-content::before {
          height: 14.5rem; } }
      @media screen and (min-width: 48em) {
        .profile__job-content::before {
          height: 12.5rem; } }
  .profile__job-content-second {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 4rem; }
    .profile__job-content-second::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: .2rem;
      height: 25rem;
      background-color: #2b2b2b; }
      @media screen and (min-width: 30em) {
        .profile__job-content-second::before {
          height: 19rem; } }
      @media screen and (min-width: 37.5em) {
        .profile__job-content-second::before {
          height: 17rem; } }
      @media screen and (min-width: 48em) {
        .profile__job-content-second::before {
          height: 12rem; } }
  .profile__job-text-title, .profile__job-text {
    font-style: italic;
    font-size: .9rem;
    padding-left: 2rem; }
  .profile__job-text-title {
    font-weight: 400; }
  .profile__job-text {
    line-height: 2.5; }
  .profile__text--style {
    margin-bottom: 5rem; }
  .profile__header--legend {
    margin-top: 6rem; }
  .profile__legend-title {
    font-weight: 400; }
    @media screen and (min-width: 48em) {
      .profile__legend-title {
        margin-bottom: 0; } }
  .profile__legend-author {
    position: relative;
    display: inline-block;
    color: rgba(43, 43, 43, 0.5); }
    .profile__legend-author::before, .profile__legend-author::after {
      content: "";
      position: absolute;
      top: .5rem;
      display: block;
      width: .25rem;
      height: .25rem;
      border-radius: 50%;
      background-color: #ffbdd8; }
  .profile__legend-author::before {
    left: -.6rem; }
  .profile__legend-author::after {
    right: -.6rem; }

.contact {
  background-color: #f9f9f9;
  padding-bottom: 3rem; }
  .contact__blocks-container {
    padding: 3rem 0; }
  @media screen and (min-width: 48em) {
    .contact__left-container, .contact__right-container {
      width: 85%;
      margin-left: auto;
      margin-right: auto; } }
  .contact__left-container {
    margin-bottom: 4rem; }
  .contact__header {
    text-align: center;
    margin-bottom: 3rem; }
  .contact__header-title {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #2b2b2b; }
    .contact__header-title::before {
      content: "";
      display: block;
      position: absolute;
      top: 2.5rem;
      left: calc(calc(100% - 5rem) / 2);
      height: 3px;
      width: 5rem;
      background-color: #ffbdd8; }
  .contact__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
  .contact__header-subtitle, .contact__list-item, .contact__text {
    color: #2b2b2b;
    font-weight: 300;
    line-height: 1.85; }
  .contact__list-item {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 2.5rem;
    font-size: .9rem; }
    .contact__list-item::before {
      content: "";
      display: block;
      position: absolute;
      left: 1.6rem;
      top: .7rem;
      width: .35rem;
      height: .35rem;
      border-radius: 50%;
      background-color: #f7d3c6; }
  .contact__text {
    text-align: center; }
  .contact__text--style {
    font-weight: 600; }
    @media screen and (min-width: 37.5em) {
      .contact__text--style {
        margin-top: 4rem; } }
  .contact__form-input-container {
    margin-bottom: 2rem; }
  .contact__form-label {
    color: #2b2b2b;
    font-size: .9rem; }
  .contact__form-input, .contact__form-message {
    padding-left: 1rem;
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 5px;
    font-size: .85rem;
    line-height: 2.5;
    color: rgba(68, 68, 68, 0.4); }
    .contact__form-input::placeholder, .contact__form-message::placeholder {
      color: rgba(68, 68, 68, 0.4); }
    .contact__form-input:focus, .contact__form-message:focus {
      outline: none; }
  .contact__form-input, .contact__form-message {
    margin-top: .8rem; }
  .contact__form-sent-btn {
    width: 100%;
    line-height: 2.5;
    border: 0;
    border-radius: 5px;
    border-bottom: 3px solid #da0129;
    color: #fff;
    cursor: pointer;
    background-color: #fe4365; }

.contact-header {
  padding: 4rem 0 3rem; }

.footer {
  padding: 3rem 0 0; }
  .footer__content {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    @media screen and (min-width: 30em) {
      .footer__content {
        width: 75%;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (min-width: 37.5em) {
      .footer__content {
        width: 60%; } }
    @media screen and (min-width: 48em) {
      .footer__content {
        width: 50%; } }
    @media screen and (min-width: 64em) {
      .footer__content {
        width: 35%; } }
  .footer__logo {
    width: 8rem;
    fill: #595959; }
  .footer__copy {
    width: 70%;
    margin: 2rem auto;
    font-size: .7rem;
    text-transform: uppercase;
    line-height: 1.8;
    color: #2b2b2b; }
  .footer__list {
    margin-top: 0;
    margin-bottom: 3rem;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    list-style: none; }
  .footer__link {
    position: relative;
    text-decoration: none;
    font-size: .85rem;
    color: #fe4365; }
    .footer__link:hover {
      text-decoration: underline; }
  .footer__link--blog::before, .footer__link--blog::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: .5rem;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background-color: #f7d3c6; }
  .footer__link--about::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: .5rem;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background-color: #f7d3c6; }
  .footer__link--blog::before {
    left: -1rem; }
  .footer__link--blog::after, .footer__link--about::after {
    right: -1rem; }
  .footer__copyright-container {
    text-align: center;
    background-color: #f9f9f9; }
  .footer__copyright, .footer__liam-link {
    font-size: .7rem; }
  .footer__copyright {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.5rem 0;
    text-transform: uppercase;
    color: #2b2b2b; }
  .footer__liam-link {
    color: #2b2b2b;
    transition: all 200ms ease-in; }
    .footer__liam-link:hover {
      color: #fe4365; }
