html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: sans-serif; }

img {
  max-width: 100%; }

input,
textarea {
  display: block; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 750;
  width: 100%;
  background-color: transparent;
  padding: 1rem 0; }
  .header__icon-menu-container {
    display: flex;
    justify-content: flex-end; }
  .header__icon-menu {
    position: relative;
    z-index: 800;
    width: 2.5rem;
    height: 2.5rem;
    fill: #ff6081;
    cursor: pointer; }
  .header__icon-menu-bar {
    fill: #ffffff; }

.large__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.main-nav {
  background-color: #ff6081;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: .5;
  transition: all 200ms ease-in; }
  .main-nav.active {
    right: 0;
    opacity: .98; }
  .main-nav__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center; }
  .main-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 3;
    color: #ffffff; }

.landing {
  height: 100vh;
  padding: 3rem 0;
  background: linear-gradient(-45deg, #fe6676, #fe4365); }
  .landing__content {
    text-align: center; }
  .landing__logo {
    width: 10rem;
    fill: #ffffff; }
  .landing__title {
    color: #ffffff; }

.about {
  padding: 3rem 0; }
  .about__image-container {
    position: relative;
    z-index: 100; }
  .about__photo, .about__color-bg {
    border-radius: 5px; }
  .about__photo-container {
    position: absolute;
    left: 3.5rem;
    top: .8rem;
    z-index: 200;
    margin: 0;
    padding: 0;
    width: 10rem; }
  .about__color-bg {
    position: absolute;
    right: 3.5rem;
    top: 0;
    z-index: 150;
    width: 10rem;
    height: 17rem;
    background-color: #fe4365; }
  .about__right-container {
    padding-top: 20rem;
    text-align: center; }
  .about__button-container {
    text-align: center; }
  .about__button {
    display: inline-block;
    line-height: 2.5;
    padding: 0 2.5rem;
    border-radius: 5px;
    border-bottom: 0.23rem solid #da0129;
    text-decoration: none;
    color: #ffffff;
    background-color: #fe4365;
    transition: all 250ms ease-in; }
    .about__button:hover {
      background-color: #fe1a44; }
    .about__button:active {
      transform: scale(0.9); }
